*{
    padding: 0;
    margin: 0;
}

/* @import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Baloo+Bhai+2&family=Bree+Serif&family=Indie+Flower&display=swap'); */

body{
    /* background: #291c1cd0; */
    background: url(../memory\ game/backGround.jpg)no-repeat center  ;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    width: 100%;
    align-items: center;

font-family: 'Baloo Bhai 2', cursive;
/* font-family: 'Bree Serif', serif; */
/* font-family: 'Indie Flower', cursive; */
}
h1{
    color: white;
        /* font-family: 'Alkalami', serif; */
    font-size: 35px;
}
span{
    color: yellow;
  
}
.cards{
    position: relative;
    transition: all .4s linear;
    
    transform-style: preserve-3d;
}
/* .cards{
    height: 30px;
    border-radius: 10px;
    padding: 2rem;
    width: 30px;
    background-color: #3e3838;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
} */
.card-section{
    /* display: grid; */
    display: none;
    grid-template-columns: repeat(4,1fr);
    /* cursor: pointer; */
    grid-gap: 20px;
    margin: 40px;
}
/* .select-card{
    border: 2px solid red;
}
.card-match{
    border: 2px solid purple;
} */

.cards,.font,.back{
    height: 30px;
    padding: 20px;
    cursor: pointer;
    width: 30px;
}
.font,.back{
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    box-shadow: 4px 4px 6px rgba(0, 0,0,0.4);
}
.font{
    border-radius: 10px;
    /* padding: 2rem; */
    border: 2px solid black;
    background: url(question-mark.png) no-repeat center ;
    background-color: #a54005a6;
    background-size: 20px 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}
.back{
    transform: rotateY(180deg);

    border-radius: 10px;
    background: rgba(0, 0, 0, 0.121);
    
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}
.select-card{
    transform: rotateY(180deg);
}
.card-match .font{
    background: url(check.png) no-repeat center ;
    background-size: 30px;
    padding: 20px;
    background-color:rgb(255, 255, 255);
}

#reseat-btn{
    padding: 10px 15px;
    border-radius: 18px;
    margin-top: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background: orangered;
    color: black;
}
.move-count{
    font-size: 22px;
    color: white;
    position: absolute;
    top: 20px;
    /* height: 19px; */
    /* background: transparent; */
    /* border: 2px solid white; */
    border-radius: 10px;
    display: none;
    /* box-shadow: inset 2px 2px 6px rgba(255,255,255,0.4); */
    justify-content: center;
    align-items: center;
    right: 30px;
    font-weight: 500;
}
.main-section{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 60px 0px 15px 0px;
    font-family: 'Baloo Bhai 2';
    background: url(../memory\ game/panel.png)no-repeat center ;
    height: 500px;
    background-size: 100% 100%;
    width: 40%;
}

.game-over{
    display: flex;
    flex-direction: column;
    width: 58%;
    height: 90%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background: url(../memory\ game/game-over.png)no-repeat center center/cover;
    color: black;
    /* border: 2px solid black; */
    position: absolute;
    border-radius: 15px;
    /* top: -37px; */
    transition: 2s ;
    top: -100%;
}
.over-now{
    top:-37px;
}
h3{
    font-size: 50px;
    font-family: 'Baloo Bhai 2', cursive;
    margin-bottom: 56px;
    margin-top: 65px;
}
p{
    font-size: 20px;
    font-family: 'Baloo Bhai 2', cursive;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
}
.heading img{
    width:45px;
    height: 45px;
    margin-right: 10px;
}
.score{
    font-size: 33px;
    font-weight: 600;
    color: red;
    margin-bottom: 20px;
}
.refresh{
    font-size: 24px;
    font-weight: 600;
}
.main-section .sound{
    width: 40px ;
    height: 40px;
    border: 3px solid black;
    background: white;
    border-radius: 50%;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 20px;
    left: 30px;
    padding: 3px;
    cursor: pointer;

}
.main-section .sound img{
    width: 30px ;
    height: 30px;  
}
.sound2{
    display: none;
}
.unmute .sound2{
    display: block;
}
.unmute .sound1{
    display: none;
}
#btn.start{
    display: none;
}
.start{
    display: grid;
}
#btn{
    padding: 15px 25px;
    background: #a54005;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    font-size: 19px;
    outline: none;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.9);
    border-radius: 20px;

}
#btn:hover{
    background: #a54005a1;

}
.start .move-count{
    display: flex;
}
.start .sound{
    display: flex;
}
@media screen and (max-width:1200px)
{
    .main-section{
        width: 70%;
    }
    .cards, .font, .back {
        height: 20px;
        padding: 20px;
        cursor: pointer;
        width: 20px;
    }
    .back{
        background-size: cover;
    }
}
@media screen and (max-width:567px)
{
    .main-section{
        width: 90%;
    }
    .back{
        background-size: cover;
    }
    .cards, .font, .back {
        height: 20px;
        padding: 20px;
        cursor: pointer;
        width: 20px;
    }
}
@media screen and (max-width:460px)
{
    .main-section{
        width: 90%;
    }
    .cards, .font, .back {
        height: 15px;
        padding: 20px;
        cursor: pointer;
        width: 15px;
    }
    .heading img{
        height: 35px;
        width: 35px;
    }
    h1{
        font-size: 27px;
    }
}
@media screen and (max-width:350px)
{
    .main-section{
        width: 100%;
    }
    .cards, .font, .back {
        height: 15px;
        padding: 15px;
        cursor: pointer;
        width: 15px;
    }
    .back{
        background-size: cover;
    }
    .heading img{
        height: 30px;
        width: 30px;
    }
    h1{
        font-size: 20px;
    }
    .move-count{
        font-size: 20px;
    }
    .main-section .sound {
        width: 30px;
        height: 30px;
    }
    .main-section .sound img {
        width: 20px;
        height: 20px;
    }
    .game-over{
        width: 100%;
        height: 100%;
    }

}
.refresh-game{
    padding: 9px 25px;
    background: #a54005;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    font-size: 19px;
    border-radius: 10px;
    outline: none;
    display: none;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.9);
}
.refresh-game:hover {
    background: #a54005cc;
}
.play-again{
    display: block;
}
.refresh-div {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 30px;
}
.refresh-div p{
    font-weight: 700;
     font-size: 30px;
}
/* .refresh-div i{
    cursor: pointer;
} */
.game-over-refresh{
    /* padding: 10px 10px; */
    border:none;
    background: url(refresh.png) no-repeat center center/cover;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    outline: none;
    height: 30px;
}